In [23]:
import pandas as pd

In [24]:
vine_data = pd.read_csv("vine_table.csv")

In [25]:
vine_data.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3,0,1,N,N
1,RZSL0BALIYUNU,5,0,0,N,Y
2,RIZR67JKUDBI0,3,0,1,N,Y
3,R27HL570VNL85F,5,0,0,N,Y
4,R34EBU9QDWJ1GD,5,0,0,N,Y

In [26]:
votes_more_twenty = vine_data.loc[vine_data["total_votes"]>=1]
votes_more_twenty.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RMDCHWD0Y5OZ9,3,0,1,N,N
2,RIZR67JKUDBI0,3,0,1,N,Y
6,RL5LNO26GAVJ1,2,3,4,N,Y
9,R14YLXA56NP51I,5,1,1,N,N
19,R2TZVLLTSHA07N,5,1,1,N,Y

In [27]:
helpful_over_fiftypct = votes_more_twenty.loc[(votes_more_twenty["helpful_votes"]*2)>votes_more_twenty["total_votes"]]
helpful_over_fiftypct

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
6,RL5LNO26GAVJ1,2,3,4,N,Y
9,R14YLXA56NP51I,5,1,1,N,N
19,R2TZVLLTSHA07N,5,1,1,N,Y

In [28]:
vine_reviewed = helpful_over_fiftypct.loc[helpful_over_fiftypct["vine"] == 'Y']
vine_reviewed

Empty DataFrame
Columns: [     review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [29]:
not_vine_reviewed = helpful_over_fiftypct.loc[helpful_over_fiftypct["vine"]=="N"]
not_vine_reviewed

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
6,RL5LNO26GAVJ1,2,3,4,N,Y
9,R14YLXA56NP51I,5,1,1,N,N
19,R2TZVLLTSHA07N,5,1,1,N,Y

In [39]:
total_vine_reviews = len(vine_data.loc[vine_data['vine']=='Y'])
total_vine_reviews

0

In [40]:
total_nonvine_reviews = len(vine_data.loc[vine_data['vine']=='N'])
total_nonvine_reviews

20

In [41]:
fivestar_vine_reviews = len(vine_data.loc[(vine_data['star_rating']==5) & (vine_data['vine']=="Y")])
fivestar_vine_reviews

0

In [42]:
fivestar_nonvine_reviews = len(vine_data.loc[(vine_data['star_rating']==5) & (vine_data['vine']=="N")])
fivestar_nonvine_reviews

13

In [43]:
fivestar_pct_vine = fivestar_vine_reviews / total_vine_reviews * 100
fivestar_pct_vine

ZeroDivisionError: division by zero

In [44]:
fivestar_pct_nonvine = fivestar_nonvine_reviews / total_nonvine_reviews * 100
fivestar_pct_nonvine

65.0